<article>
  <h1><%= I18n.t('Acerca de') %></h1>
  <p><%= I18n.t(Sip.titulo) %>: <%= I18n.t(Sip.descripcion) %></p>
  <p><%= I18n.t(:acercade_resumen).html_safe %></p>
  <p> <%= I18n.t(:acercade_apoyo).html_safe %> <br/> 
  <%= I18n.t(:acercade_invita_a_donar).html_safe %>
  </p>
  <div align="center">
  <a href="https://checkout.wompi.co/l/BzfReY" class='btn'><%= I18n.t(:Donar).html_safe %></a>
</div>
<div class="accordion" id="donantes">
  <%= item_acordeon_bs(
    'donantes', 'fdonantes', 'Donors list', false, {
      'estilo_accordion-header': 'text-align: center',
      'clase_accordion-body': 'table-responsive',
      'estilo_accordion-body': 'overflow-x:scroll'
   }
  ) do %>
    <table class='table'>
      <thead>
        <tr><th>Name</th><th>Link to organizatio</th><th>Amount</th></tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  <% end %>
</div>
</p>

<p>
To use this application we invite you to review its
<a href='/ppd'>terms</a> and then to
<div align="center">
<%= link_to 'Suscribe', main_app.sign_up_path, class: 'btn' %>
<br>
</div>

<p>
To help in the development go to the
<%= link_to 'source code repository', Sip.codigofuente %>.
<br>
It is open source with
<a href='https://github.com/pasosdeJesus/sip/blob/master/LICENSE.md'>ISC License</a>.
We invite you to check <a href="<%= Sip.urlcontribuyentes %>">list of people who has contributed</a>.
</p>
<div class="accordion" id="pila">
  <%= item_acordeon_bs(
    'pila', "fpila",
    'Technical details of this web application and its operation platform', false, {
      'estilo_accordion-header': 'text-align: center',
      'clase_accordion-body': 'table-responsive',
      'estilo_accordion-body': 'overflow-x:scroll'
    }) do %> 
    <p>
    <%= render partial: 'acerca_pila_pdJ' %>
    </p>
    <p>
    <%= render partial: 'acerca_tecno' %>
    <ul>
      <li>Layout and sidebar based on prosidebar-pro.
    </ul>
    </p>
    <p>
    The operating system for development and operation is
    <a href='https://aprendiendo.pasosdeJesus.org'>adJ/OpenBSD</a>.
    </p>
  <% end %>
</div>


<hr>
<p>
<%= I18n.t(:acercade_agradecimiento_Dios).html_safe %>
</p>
</article>
